.assessmentContainerCreatSect{
    padding-left: 8%;
    padding-right: 8%;
    padding-top: 40px;
}
.assessmentContainerCreatSect h4{
    font-weight: 600;
    line-height: 24px;
    color: var(--textBlack1);
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 30px;    
}
.assessmentContainerCreatSect h4 img{
    cursor: pointer;
}
.questionBodyCont{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-right: 30px;
    margin-top: 30px;
    padding-bottom: 30px;
}
.questionBodyCont .questionBodySect{
    background: #FFFFFF;
    border: 1px solid var(--borderGrey);
    border-radius: 8px;
    padding: 30px 20px 20px 20px;
}
.questionBodyCont .questionBodySect h2{
    font-weight: 600;
    line-height: 25px;
}