.multiinlineSelect .MuiFormControl-root .MuiInputBase-root {
background-color: #FFFFFF;
border: 1px solid #DEDEDE;
height: 38px;
border-radius: 8px;
}
.multiinlineSelect .MuiFormControl-root label{
    margin-top: -7px;
    color: rgba(154, 154, 154, 0.5);
    font-weight: 400;
    font-size: 14px;
}
.multiinlineSelect .MuiFormControl-root label.Mui-focused{
    background-color: var(--white);
    left: 0;
    top: 8px;
    color: var(--green) !important;
    padding: 0px 5px;
    font-size: 13px;
    font-weight: 600;
    transform: translate(14px, -9px) scale(1);
    opacity: 1;
}
.multiinlineSelect .MuiOutlinedInput-root.Mui-focused fieldset{
    border: 1px solid var(--green) !important;
}
  

.multiinlineSelect .MuiFormControl-root .MuiInputBase-root fieldset{
    border: none;
}
