.questionPaperContainer{
    padding-left: 8%;
    padding-right: 8%;
    padding-top: 40px;
}
.steppercontainer{
    display: flex;
    flex-direction: column;    
    margin-top: 30px;
    padding-bottom: 30px;
    padding-right: 30px;
    background-color: #FFFFFF;
    border: 1px solid #DEDEDE;
    border-radius: 16px;
    padding: 30px;
}
.goback svg{
    color: black;
    width: 12px;
    height: 12px;
    font-weight: 900;
}
.goback p{
    color:#9A9A9A;
    font-weight: 500;
    font-size: 13px;
    text-transform: uppercase;
}
.stepperqsnpaperDetail, .selectChapter, .slectquestion, .questiondetails, .checkMark{
    display: flex;
    gap: 15px;
}

.stepperqsnpaperDetail .circle.active,
.selectChapter .circle.active,
.slectquestion .circle.active,
.questiondetails .circle.active{
    background-color:#000000;
    color: white;
    font-weight: 800;
    font-size: 20px;
    width: 44px;
    height: 44px;
    padding: 7px 14px 7px 14px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
}
.stepperqsnpaperDetail .circle,
.selectChapter .circle,
.slectquestion .circle,
.questiondetails .circle{
    background: rgba(222, 222, 222, 0.7);
    color: black;
    font-weight: 800;
    font-size: 14px;
    width: 33px;
    height: 33px;
    padding: 7px 14px 7px 14px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 4px;
    margin-top: 4px;
}
.qsnpaperdetails > h2{
    color: #000000;
    font-weight: 700;
    font-size: 20.16px;
}
.qsnpaperdetails > p{
    color: #9A9A9A;
    font-weight: 500;
    font-size: 14px;
}

/* .fastmannualgenerationBox{
    height: 240px;
    margin-top: -16px;
    margin-left: 60px;
    padding-top: 20px;
} */
.fastmannualgenerationBox .switchfield .MuiBox-root{
    color: #1B1C1E;
    font-weight: 300;
    font-size: 16px;
}
.questionPaperBluePrintTableContainer{
    height: auto;
    border: 1px solid rgb(138, 137, 137);
    border-radius: 12px;
    overflow: hidden;
}

.questionPaperBluePrintTableContainer .MuiTableContainer-root{
    width: 100% !important;
    height: 450px !important;
    border-radius: 20px;
}
.questionPaperBluePrintTableContainer .MuiTableContainer-root table thead tr th:first-child,
.questionPaperBluePrintTableContainer .MuiTableContainer-root table tbody tr td:first-child{
    width: 50px;
    padding: 0px !important;
}
.questionPaperBluePrintTableContainer .MuiTableContainer-root table tbody tr td:first-child > .MuiFormGroup-root > .MuiFormControlLabel-root{
    margin: 0px;
}
.questionPaperBluePrintTableContainer .MuiTableContainer-root table tbody tr td:nth-child(2),
.questionPaperBluePrintTableContainer .MuiTableContainer-root table thead tr th:nth-child(2){
    padding-left: 0px;
}
.questionPaperBluePrintTableContainer .MuiTableContainer-root table thead tr th:last-child{
    width: 100px;
}
.questionPaperBluePrintTableContainer .MuiTableContainer-root table tbody tr td:last-child svg{
    width: 18px;
}
.questionPaperBluePrintTableContainer .MuiTableContainer-root table tbody tr td:first-child > .MuiFormGroup-root > .MuiFormControlLabel-root .MuiButtonBase-root svg{
    width: 22px;
    height: 22px;
}
.questionPaperBluePrintTableContainer .MuiTableContainer-root table tbody tr td:first-child > .MuiFormGroup-root > .MuiFormControlLabel-root .MuiButtonBase-root svg path{
    color: #bcbcbc
}
.questionPaperBluePrintTableContainer .MuiTableContainer-root table tbody tr td:first-child > .MuiFormGroup-root > .MuiFormControlLabel-root .MuiButtonBase-root.Mui-checked svg path{
    color: #01B58A;
}
.questionPaperBluePrintTableContainer .MuiTableContainer-root table thead tr th .tableHeadArrowSect{
    display: flex;
    align-items: center;
    gap: 10px;
  }
.qsnPaperModel{
    width: auto;
    padding: 0px, 10px;
    background: #FFFFFF;
    border: 1px solid rgba(222, 222, 222, 0.6);
    border-radius: 14px;
    overflow: hidden;
    position: relative;
}
.button button:last-child{
    border: 1px solid #01B58A;
    margin-left: 10px;
}
.resrTableSortArrow{
    display: flex;
    flex-direction: column;
    gap: 3px;
}
.stepperSection{
    position: relative;
}
.stepperSection::before {
    content: "";
    width: 3px;
    height: calc(100% - 36px);
    border-left: 7.7px #e4e4e4 dotted;
    position: absolute;
    left: 18px;
    top: 52px;
}
.steppercontainer > div:nth-last-child(2)::before{
    display: none;
}
.generateLoaderSect{
    background: #FFFFFF;
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.18);
    border-radius: 14px;
    width: 516px;
    height: 167px;
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    outline: none;
}
.generateLoaderSect .generateLoaderSectFlex{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 10px;
    padding-top: 30px;
}
.generateLoaderSect .generateLoaderSectFlex p{
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
}
.questionPaperOtpSectSub .selectMultiFillType label.MuiFormLabel-filled + .MuiInputBase-root > .MuiSelect-select{
    padding-left: 15px !important;
}
.questionPaperOtpSectSub .selectMultiFillType label.MuiFormLabel-filled{
    transform: translate(14px, -10px) scale(1) !important;
}
.fieldError .inputFieldStylingSect label{
    color: red;
}
.fieldError .inputFieldStylingSect label + .MuiInputBase-root{
    background: #fffbfb;
}
.fieldError .inputFieldStylingSect label + .MuiInputBase-root fieldset{
    background-color: red;
}