.online-questions-card .card-container {
    margin-top: 15px;
    width: calc(100% - 10px);
    padding: 20px 20px 20px 20px;
    gap: 14px;
    border-radius: 16px;
    border: 1px 0px 0px 0px;
    background-color: #fff;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    min-height: 140px;
}

.online-questions-card[data-active='true']::after {
    content: '' !important;
    height: 20px;
    width: 20px;
    transform: rotate(45deg);
    position: absolute !important;
    right: 4px;
    background-color: white;
    top: calc(50% - 10px);
}

.online-questions-card .card-container .card-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.online-questions-card .card-container .card-title {
    font-size: 18px;
    font-weight: 600;
    line-height: 25px;
    color: #1B1C1E;
}

.online-questions-card .card-container .card-body {
    display: flex;
    flex-direction: row;
    gap: 4px;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.card-body .small-text {
    font-size: 14px;
}

.online-questions-card .card-container .online-card-footer {
    display: flex;
    align-items: center;
    /* Center align items vertically */
    gap: 8px;
    /* Space between items */
    flex-direction: row;
    justify-content: space-between;
}

.online-card-footer .small-text {
    display: flex;
    align-items: center;
    line-height: 20px;
    font-size: 14px;
}

.online-card-footer .online-icons-div{
    display: flex;
    gap: 12px;
}


.online-questions-card .card-help-text {
    color: #9A9A9A;
    font-weight: 400;
    font-size: 11px;
}

.btn-eval-eye {
    border: none;
}

.online-questions-card .card-container .card-grade {
    display: flex;
    gap: 20px;
}

.clamped-text {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 140px;
    width: auto;
    white-space: nowrap;
}

.online-questions-card[data-active='true']::after {
    content: '' !important;
    height: 20px;
    width: 20px;
    transform: rotate(45deg);
    position: absolute !important;
    right: 4px;
    background-color: white;
    top: calc(50% - 10px);
}